@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&family=Josefin+Sans&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Rubik&display=swap');
html, body{
    height:100%;
    width: 100%;
    margin:0;
    display: flex;
  }
  html {
    box-sizing: border-box;
}

  
*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
    /* border: 1px solid black; */
}
body {
    display: flex;
    flex-direction: column;
    
    background-color: #D4DFC7;
    
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}
main {
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;/* 
    background-color: #7892c2; */
}

/* Header chatbot */

header {
    margin-top: 20px;
    text-align: center;
    height: 10%;
    width: 100%;
}

/* SECTION */ 

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* RESPONSE IA */

.txt-request-ia {
    text-align: center;
    font-size: 3vh;

}

.response-ia {
    padding: 50px 0px;
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
}
.response-ia h2, .response-ia p {
    margin-top: 20px;
}

.txt-demo {
    text-align: center;
    font-size: 3vh;
}

/* REQUEST TXT */

.content-request {
    height: auto;
    width: 100%;
    margin: 20px 0;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.txt-request {
    height: 9vh;
    width: 70%;
    border-radius: 10px;
    --tw-bg-opacity: 1;
    background-color: rgb(32 34 34 / var(--tw-bg-opacity));
    color: white;
    text-align: center;
    font-size: 3vh;
}


/* Buton-send */
.myButton {
    margin: 20px 0;
	box-shadow: 0px 0px 0px 2px #9fb4f2;
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	background-color:#7892c2;
	border-radius:3px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:3px 11px;
	text-decoration:none;
	text-shadow:0px -2px 0px #283966;
}
.myButton:hover {
	background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	background-color:#476e9e;
}
.myButton:active {
	position:relative;
	top:1px;
}


/* FOOTER */

footer {/* 
    background-color: #476e9e; */
    height: 10vh;
    width: 100%;
    font-size: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}